{% load static %}
<footer class="foot">
    <center>
        <img src="{% static 'letter-f-logo-barbell-fitness-260nw-2169119177.webp' %}" alt="A scenic view" />  
        <br>
        <div class="link">
            <a href="#"><h3>About Us</h3></a>
            <a href="#"><h3>FAQ</h3></a>
            <a href="#"><h3>Terms and conditions</h3></a>
            <a href="#"><h3>Refund Policy</h3></a>
            <a href="#"><h3>Privacy Policy</h3></a>
        </div>
    </center>
    <br>

    <h3>© 2024, copyrights @ Gym Passport</h3>
</footer>
 